<h1>New question for Test n<%=@test.id %></h1>
<%= form_with url: "/tests/#{@test.id}/questions", model: [@test, @question], method: :post, local: true do |form| %>
  <%= form.text_field :body %>
  <%= form.submit %>
<% end %>