<tr>
  <td>
    <%=image_tag(badge.file, height: '32', width: '32',  class: 'image')%>
  </td>
  <td>
    <%= badge.title %>
  </td>
  <td>
    <%= badge.rule %>
  </td>
  <td>
    <%= link_to t('.show'), badge_path(badge), class: 'btn btn-primary' %>
  </td>
</tr>