<h1>Result of passage <%= @result.test.title%> test</h1>
<% if @result.success? %>
<p class="text-success">You passed test on <%=@result.percent%>%</p>
  <% else %>

  <p class="text-danger">You failed test with <%=@result.percent%>%</p>
  <% end %>

<%=link_to "Tests", tests_path %>