<h1> <%=t('.title',title: @result.test.title)%></h1>
<% if @result.success? %>
<p class="text-success"><%=t('.passed',percent:@result.percent)%>%</p>
  <% else %>

  <p class="text-danger"><%=t('.failed',percent:@result.percent)%>%</p>
  <% end %>

<%=link_to "Tests", tests_path %>