<tr>
  <td> <%= "ID #{ question.id}: #{question.body}"%></td>
  <td> <%= button_to t(".delete"), admin_question_path(question.id), method: :delete, data: {confirm: 'Are you sure?'} %><td/>
  <td> <%= button_to  t(".edit"), edit_admin_question_path(question.id), method: :get %></td>
  <td> <%= button_to t(".show"), admin_question_path(question.id), method: :get %><td/>
</tr>