<h1>Questions of <%=@test.title %> Test</h1>
<table>
  <%= render @questions %>
  <tr>
  <td><%= link_to "New", new_test_question_path(@test.id) %></td>
    <td><%= link_to "Back", tests_path %></td>
  </tr>
</table>