<footer>
<div>
  <p>
    <%= year %>
  </p><br>
  <p>Описание проекта</p>
</div>
<div>
  <p>
    <%= github_url("Чаенкова Дарья", "https://github.com/KamiN1921/test-guru/") %> <br>
    <%= link_to "Учебный проект в онлайн-школе Thinknetica", "https://thinknetica.com" %>
  </p>
</div>
</footer>